@page
@model PhienNTMVC.Pages.loginModel
@{
}
<form method="post">
    <input type="text" name="email" value="" />
    <br />
    <input type="password" name="password" value="" />
    <br />
    <button value="login" name="loginbtn">Login</button>
</form>